div, body, html {
	height: 100%;
	margin: 0;
}

.recordinglinkBody{
	background: url('./images/piano3.jpg') no-repeat center center fixed;
	height: 100%;
	background-size: cover;
	padding-top: 3%;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 5%;
}

.titleBlock{
	letter-spacing: 0.05em;
	text-align: center;
}

.recordingBlock{
	background-color: white;
	opacity: 85%;
	padding: 10px; 
	border: 5px white;
	border-radius: 15px;
}

.pianolinkBody{
	background: url('./images/piano3.jpg') no-repeat center center fixed;
	height: 100%;
	background-size: cover;
}

.linkBody{
	background: url('./images/piano3.jpg') no-repeat center center fixed;
	height: 100%;
	background-size: cover;
	padding-top: 5%;
	padding-left: 30%;
	padding-right: 30%;
	padding-bottom: 20%;
}

.userInteractBlock{
	background-color: white;
	opacity: 85%;
	padding: 10px; 
	border: 5px white;
	border-radius: 15px;
}

.container{
	width: 50%;
	margin: auto;
}

.mainContainer{
	width: 100%;
	margin: auto;
}

.loginlabels{
	color: white;
	font-size: 35px;
}

.sitefit{
	padding-top: 120px;
	margin-left: 25%;
	margin-right: 25%;
}

.loginButton{
	align-items: center;
	font-size: 25px;
}

.homeTitle{
	width: 100%;
	margin: auto;
	opacity: 50%;
	color: black;
	text-align: center;
	font-weight: normal;
	font-size: 10;
	padding: 10px;
	background-color: transparent;
	background-opacity: 50%;
	border: 5px white;
}

.pageTitle{
	width: 100%;
	margin: auto;
	opacity: 50%;
	color: black;
	text-align: center;
	font-weight: normal;
	font-size: 10;
	padding: 10px;
	background-color: papayawhip;
	background-opacity: 50%;
	border: 5px white;
/*	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-bottom-color: gray;	*/
}

.community{
	background: url('./images/piano.jpg') no-repeat center center fixed;
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;
	opacity: 100;
}


.pianoBckgrd{
	position: sticky;
	opacity: 100%;
	text-align: center;
	background-color: white;
	border-color: white;;
	border-radius: 15px;
	margin-top: 180px;
	margin-left: 50px;
	margin-right: 50px;
	height: 280px;
}

.unlist{
	list-style-type: none;
	text-align: center;
	border: 5px solid gray;
	border-radius: 15px;
	padding-bottom: 40px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px; 
	width: 100%;
	height: 90%;
	margin: auto;
}

.unlist li{
	text-align: left;
	font-size: 20px;
	padding: 10px;
}

.recordElementUl{
	list-style-type: none;
}

.recordElementUl li{
	text-align: left;
	font-size: 20px;
	padding: 10px;
}

.space{
	font-size: 20px;
}